# Jupyter Notebook specific files
.ipynb_checkpoints/
*.ipynb_checkpoints/*
.vscode/
.DS_Store

# Python specific files
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Virtual environment
.env/
venv/
env/
*env/

# Data files (if not intended for version control)
*.csv
*.json
*.pkl
*.hdf5
*.h5
*.parquet

# Logs and temporary files
*.log
*.tmp
*.temp

# IDE specific files (e.g., VS Code)
.vscode/