[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "==6.30.1"
tiktoken = "==0.11.0"
torch = "==2.2.2"
gensim = "==4.3.3"

[dev-packages]

[requires]
python_version = "3.11"
